<body>
  <div class="grid-container">
    <aside class="left"></aside>
    <main class="center">

      <div id="message-add">
        <span>Um novo Usuario foi adicionado!</span>
      </div>
      <table class="table-aniver">
        <thead>
          <tr>
            <th class="name">Nome</th>
            <th>Dia</th>
            <th>Mês</th>
            <th>Ano</th>
            <th>Dias Faltantes</th>
          </tr>
        </thead>
        <tbody id="">
          {{#each aniversarios}}
          {{#each aniversarios}}
          <tr>
            <td>{{nome}}</td>
            <td>{{dia}}</td>
            <td>{{mes}}</td>
            <td>{{ano}}</td>
            <td>{{aniversario}}</td>

          </tr>
          {{/each}},,,
          {{/each}},
        </tbody>
      </table>
    </main>
    <aside class="right"></aside>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="script.js"></script>

</body>