<body>
  <div class="grid-container">
    <aside class="left"></aside>
    <main class="center">
      <div id="message-add">
        <span>Um novo Usuario foi adicionado!</span>
      </div>
      <div id="contatos">
        {{#each dados}}
        {{#each results}}
        <div class="dados">
          <div>
            <img src={{picture.large}} alt="">
          </div>
          <div class="cont">
            <div>
              <h3>{{name.first}} {{name.last}}</h3>
              <h6>Telefone:{{phone}} - Celular:{{cell}}</h6>

              <h6>{{location.city}}, {{location.state}}, {{nat}}</h6>
            </div>
          </div>
        </div>
        {{/each}}
        {{/each}}
      </div>
    </main>
    <aside class="right"></aside>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="script.js"></script>

</body>