


      <table class="table">
        <thead>
          <tr>
            <th class="name">Nome</th>
            <th>Gender</th>
            <th>Age</th>
            <th>City</th>
            <th>State</th>
            <th>E-mail</th>
            <th>CPF</th>
            <th class="phone">Phone</th>
          </tr>
        </thead>
        <tbody id="">
          {{#each dados}}
          {{#each results}}
          <tr>
            <td>{{name.first}} {{name.last}}</td>
            <td>{{gender}}</td>
            <td>{{dob.age}}</td>
            <td>{{location.city}}</td>
            <td>{{location.state}}</td>
            <td>{{email}}</td>
            <td>{{id.value}}</td>
            <td>{{phone}}</td>
          </tr>
           {{/each}}
          {{/each}}
        </tbody>
      </table>
